body, html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: #FFF;
}

.boxes {
  width:100%;
  max-width:430px;
  height:100%;
  margin:0 auto;
}

div.box{
  display:inline-block;
  width:47%;
  max-width:200px;
  height:18%;
  padding:0;
  margin:.7% 1%;
  border-radius: 10px;
  background-color: #BBB;
}

div.box.active:nth-child(even){
  background-color: #0A0;
}

div.box.active:nth-child(odd){
  background-color: #A00;
}
